In [157]:
import pandas as pd
import numpy as np
from new_columnsRDS import new_columns
from new_columnsRDS import get_position
import importlib



season = '2022'
data = '/Users/omar/Desktop/' + season + '.xlsx'
competition = 'mls'

# Read the Excel file into a DataFrame
df = pd.read_excel(data)

# Modify the column names to remove any spaces or special characters, commas, and % signs
df.columns = df.columns.str.replace(' ', '_').str.translate(str.maketrans('', '', ':*?/\\,')).str.replace('%', 'pct')



# Apply the new metrics to the DataFrame
new_columns(df)
get_position(df)
   
    
# Add the 'season' column to the DataFrame
df['season'] = season
# Add the 'league' column to the DataFrame
df['competition'] = competition

# Create a new column 'player_id' that takes the last 5 letters of 'Player' , first 3 letters of  'Birth_country', and last 3 letters of 'Passport_country'
df['player_id'] = df.apply(lambda row: row['Player'][-5:] + row['Birth_country'][:3] + row['Passport_country'][-3:], axis=1)

# Delete spaces and dots from the 'player_id' column
df['player_id'] = df['player_id'].str.replace(' ', '').str.replace('.', '')



# Replace NaN values with 0
df = df.fillna(0)


# # Export the DataFrame to an Excel file
# df.to_excel('/Users/omar/Desktop/belgium2018:2019.xlsx', index=False)

# Export the DataFrame to a CSV file
df.to_csv('/Users/omar/Desktop/' + season + '_players.csv', index=False)

# Read the Excel file into a DataFrame
df = pd.read_csv('/Users/omar/Desktop/' + season + '_players.csv')
df = df.replace([np.inf, -np.inf], 0)

/var/folders/_f/j41hr7tx7f1dzcpjxlmcp54m0000gn/T/ipykernel_1154/3176170027.py:35: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['player_id'] = df['player_id'].str.replace(' ', '').str.replace('.', '')

In [158]:
# import the necessary library for connecting to the database
from sqlalchemy import create_engine

# connect to the RDS instance and specify the necessary connection parameters
engine = create_engine('mysql+mysqlconnector://admin:Minus0258!!!@database-1.cgoyesyurggk.us-east-1.rds.amazonaws.com/xgscout')

# Write the DataFrame to the table 'players' in the RDS instance
# 'if_exists' parameter is set to 'append' to append the table if it already exists
df.to_sql(name='players', con=engine, if_exists='append', index=False)

# Print success message
print("Data Loaded Successfully")

Data Loaded Successfully

In [159]:
# Load the 'players' table into a DataFrame
players_df = pd.read_sql("SELECT * FROM players", con=engine)

# Display the first few rows of the DataFrame
players_df.head()

,Player,Team,Team_within_selected_timeframe,Position,Age,Market_value,Contract_expires,Matches_played,Minutes_played,Goals,...,penalty_xG/90,nonpenalty_xG/90,Sum_xGp90_and_Goalsx90,Sum_xAx90_and_Assistx90,xG_Difference,np_xG_per_shot_avg,Field_position,season,competition,player_id
0,V. Osimhen,Napoli,Charleroi,CF,23,65000000,2025-06-30,34,3002,19,...,0.05,0.53,1.07,0.20,0.01,0.139685,Striker,2018-2019,jupiler pro league,VOsNigNig
1,A. Danjuma,Villarreal,Club Brugge,"LWB, LW",25,50000000,2026-06-30,20,1252,5,...,0.00,0.16,0.52,0.28,0.20,0.068182,Defense,2018-2019,jupiler pro league,ADaNetNet
2,J. David,Lille,Gent,"AMF, CF",22,45000000,2025-06-30,33,2119,12,...,0.00,0.35,0.86,0.22,0.16,0.142931,Midfield,2018-2019,jupiler pro league,JDaUniUni
3,L. Trossard,Brighton,Genk,"LAMF, LW",27,30000000,2023-06-30,34,2932,14,...,0.07,0.41,0.81,0.42,-0.01,0.108699,Midfield,2018-2019,jupiler pro league,LTrBelBel
4,D. Kamada,Eintracht Frankfurt,Sint-Truiden,"CF, AMF",26,30000000,2023-06-30,34,2977,14,...,0.05,0.34,0.73,0.35,0.05,0.148158,Midfield,2018-2019,jupiler pro league,DKaJapJap

In [160]:
counts = players_df['competition'].value_counts()
counts

mls                       3036
segunda division          2922
liga mx                   2434
ligue 2                   2395
jupiler pro league        2314
ekstraklasa               2251
bundesliga 2              2207
russian premier league    2067
allsveskan                1854
segunda liga              1852
eliteserien               1851
vbet league               1835
superliga                 1663
bundesliga austria        1499
super league              1364
Name: competition, dtype: int64

In [64]:
from sqlalchemy import text

# Build the DELETE statement with a WHERE clause
delete_query = text("DELETE FROM players WHERE competition='segunda division'")

# Execute the DELETE statement
engine.execute(delete_query)

# Print success message
print("Data Deleted Successfully")

Data Deleted Successfully